# ==========================================
# PostgreSQL - Airflow Metadata Database
# ==========================================
POSTGRES_HOST=10.10.17.209
POSTGRES_PORT=5432
AIRFLOW_DB=elt-airflow
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=

# ==========================================
# HIS External API
# ==========================================
HIS_API_BASE_URL=
HIS_API_ENDPOINT_HCHIntraAPI=
HIS_API_TOKEN=
